@using LunchLibrary.Models
@model Owner

@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#loginButton").click(function () {
            if ($("#OwnerName").val().length > 30 || $("#OwnerName").val().length < 1) {
                alert("아이디가 너무 길거나 없습니다.");
                return false;
            }

            $("#loginForm").prop("action", "/Home/CheckUser");
            $("#loginForm").prop("method", "post");
            $("#loginForm").submit();
        });
    });
</script>

<div class="row">
    <div class="col-4 offset-4">
        <div class="h2 font-weight-bold">
            오늘 점심 뭐먹지
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        오늘 점심 뭐먹지는 점심 가게를 고르는데 지친 사람들을 위한 점심고르기 서비스 입니다.
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        <hr />
        <form id="loginForm">
            <div class="form-group">
                <label>아이디</label>
                <input type="text" id="OwnerName" name="OwnerName" class="form-control" />
            </div>
            <button type="submit" id="loginButton" class="btn btn-primary btn-block">로그인</button>
        </form>
    </div>
</div>

<div class="row justify-content-center" style="margin-top:10px;">
    <div class="col-4">
        <a href="/Home/CreateUser" class="btn btn-secondary btn-block">아이디 생성</a>
    </div>
</div>

<div class="row justify-content-center" style="margin-top:10px;">
    <div class="col-4">
        <a href="/Logging/Index" class="btn btn-secondary btn-block">로깅페이지</a>
    </div>
</div>