@using LunchCommon.Models
@model Owner

@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">
    $(document).ready(function ()
    {
        // 회원 가입 후 들어왔을 때 해당 내용 설정
        $("#OwnerName").val("@Model.OwnerName");

        $("#loginButton").click(function () {
            if ($("#OwnerName").val().length > 30 || $("#OwnerName").val().length < 1) {
                alert("아이디가 너무 길거나 없습니다.");
                return false;
            }

            $("#loginForm").prop("action", "/Home/CheckUser");
            $("#loginForm").prop("method", "post");
            $("#loginForm").submit();
        });
    });
</script>

<h2>오늘 점심 뭐먹지</h2>
<h3>로그인</h3>

<div>
    오늘 점심 뭐먹지는 점심 가게를 고르는데 지친 사람들을 위한 점심고르기 서비스 입니다.
    <form id="loginForm">
        <label>아이디</label>
        <input type="text" id="OwnerName" name="OwnerName" />
        <button type="submit" id="loginButton">로그인</button>
    </form>

    <nav>
        <a href="/Home/CreateUser">아이디 생성</a>
    </nav>
</div>