@using LunchLibrary.Models
@model IEnumerable<LunchLibrary.Models.Place>

@{
    ViewData["Title"] = "점심고르기";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#selectLunch").click(function () {
        });
    });

    function DeleteCreatedPlace(BtnObject) {
        var rowCount = parseInt(BtnObject.id.replace("deletePlaceButton_", ""));

        var placeInfo = new Object();
        placeInfo.PlaceId = parseInt($("#placeId_" + rowCount).html());

        var resultData = ExecuteAjax("POST", "/Lunch/DeletePlace", "json", "application/json", JSON.stringify(placeInfo));
        console.log("결과");
        console.log(resultData);
        if (resultData) {
            alert("삭제하였습니다.");
            document.getElementById("placeTR_" + rowCount).outerHTML = "";
        }
    }
</script>

<div class="row">
    <div class="col-8 offset-2">
        <h2>점심을 골라봅시다.</h2>
    </div>
</div>

<div class="row">
    <div class="col-8 offset-2">
        <button type="button" id="selectLunch" class="btn btn-primary btn-block">점심 고르기</button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">이름</th>
                    <th scope="col">위치</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    int i = 0;
                    @foreach (Place item in Model)
                    {
                        <tr id="placeTR_@i" >
                            <th scope="row">@(i+1)</th>
                            @*<td><span id="placeId_@i">@item.Id</span></td>*@
                            <td>@item.Name</td>
                            <td>@item.Location</td>
                            <td>
                                <button type="button" id="deletePlaceButton_@i" 
                                        class="btn btn-danger float-right"
                                        onclick="DeleteCreatedPlace(this);">이 장소 제거</button>
                            </td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>
    <hr />
</div>
<div class="row">
    <div class="col-8 offset-2">
        <a href="/Lunch/CreatePlace" class="btn btn-secondary btn-block">장소 입력</a>
        <a href="/Home/Index" class="btn btn-secondary btn-block">홈으로</a>
    </div>
</div>