@using LunchLibrary.Models
@model IEnumerable<LunchLibrary.Models.Place>

@{
    ViewData["Title"] = "점심고르기";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#selectLunch").click(function () {
        });
    });

    function DeleteCreatedPlace(BtnObject) {
        var rowCount = parseInt(BtnObject.id.replace("deletePlaceButton_", ""));

        var placeInfo = new Object();
        placeInfo.PlaceId = parseInt($("#placeId_" + rowCount).html());

        var resultData = ExecuteAjax("POST", "/Lunch/DeletePlace", "json", "application/json", JSON.stringify(placeInfo));
        console.log("결과");
        console.log(resultData);
        if (resultData) {
            alert("삭제하였습니다.");
            document.getElementById("placeTR_" + rowCount).outerHTML = "";
        }
    }
</script>

<div>
    <div>
        <h2>점심을 골라봅시다.</h2>
    </div>

    <hr />

    <button type="button" id="selectLunch">점심 고르기</button>

    <div>
        <table>
            <thead>
                <tr>
                    <td style="border:1px solid black;">번호</td>
                    <td style="border:1px solid black;">이름</td>
                    <td style="border:1px solid black;">위치</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    int i = 0;
                    @foreach (Place item in Model)
                    {
                        <tr id="placeTR_@i">
                            <td><span id="placeId_@i">@item.Id</span></td>
                            <td>@item.Name</td>
                            <td>@item.Location</td>
                            <td>
                                <button type="button" id="deletePlaceButton_@i" onclick="DeleteCreatedPlace(this);">이 장소 제거</button>
                            </td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>

    <nav>
        <a href="/Lunch/CreatePlace">장소 입력</a>
        <a href="/Home/Index">홈으로</a>
    </nav>
</div>